table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    font-size: larger;
    color: rgb(206, 82, 124);
    background-color: rgb(247, 240, 242);
    padding: 10px;
    text-align: middle;
    border-radius: 20px;
}

td{
    color: rgb(30, 106, 86);
    padding: 10px;
    text-align: middle;
}

tbody tr:nth-child(even){
    background-color: rgb(243, 251, 250);
}

a{
    color: rgb(206, 82, 124);
}


