table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px 8px;
    margin-top: 20px;
}

th, td{
    border: none;
    padding: 15px;
    text-align: left;
    
}

thead th{
    background-color: rgb(24, 151, 77);
    color: white;
    border-radius: 10px;
}
tbody tr{
    background-color: rgb(241, 255, 241);
    overflow: hidden;
}

tbody td{
    padding: 15px 20px;
    vertical-align: middle;
    border-radius: 10px;
}

tbody td:first-child{
    color: rgb(24, 151, 77);
}

tbody td:last-child{
    color: rgb(206, 82, 124);
}