/*
.search-button-image {
    width: 18px; 
    height: 18px;
    align-content: center;
  }
.search-button{
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px; 
}
.search-bar{
    width: 200px; 
    height: 25px;
}

.search-button:hover{
    cursor: pointer;
}  

.search{
    padding: 40px;
}
    
*/